.containerpc {
    top:0;
    left:0;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color:black;
  }
  
  .itempc {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 15px;
    position: relative;
  }
  
  .contentpc {
    display: none;
    padding: 10px;
    width:100%;
  }
  
  .activepc {
    display: block;
  }
  
  .buttonpc {
    padding: 5px;
    cursor: pointer;
    color:black;
  }
  
  .close-buttonpc {
    top: 20px;
    right: 160px;
    position: absolute;
    padding: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
    z-index: 1000000;
    border: 1px solid grey;
    outline: none;
  }
  .close-buttonpc:active,.close-buttonpc:focus,.close-buttonpc:hover{
    outline: none;
    background: #e1e1e1;
  }
.actncontnr{
  width:85%;
  text-align: center;
}
  .actnbtn{
border:0px;
cursor: pointer;
outline:none;
  }


#rffrlfrm{
  top:0px;
  right:0px;
  position:fixed;
  width:100%;
  height:100%;
  z-index:100000;
  display: none;
}
  #alllog{
    width:100%;
    height:100%;
  }
  #alllog iframe{
    width:100%;
    height:100%;
    border:none;
   
  }

  #closeactn{
    bottom:0px;right:0px;
    width:100%;
    padding:5px 10px;
    font-size:16px;
    font-weight:500;
    position: fixed;
    z-index:100000;
    background-color: #f9a5a5;
    cursor: pointer;
    color:white;
    text-align: center;
    margin:0 auto;
  }
  #closeactn:hover{
    background: #fd4a4a;
    color:white;
  }