
.modal-body{
    margin-top:0px;
    padding-top:0px;
    height: 500px;
    overflow-y: auto;
}

body{
    background: #14141481;
}
#applicationForm{
padding:0px;
}
#applicationForm label{
    margin-bottom:5px;
}
#applicationForm .form-group{
margin-top:10px;
margin-bottom:10px;
}
#submitBtn{
    margin-top:10px;
    width:100%;
}
#applicationForm .form-control:focus{
    box-shadow: none;
}
.empdomcl{
padding:10px;
background-color: #e6e6e9;
border-radius: 5px;
}
.form-group label{
    font-size:14px;
}
